*{
    margin: 0%;
    padding: 0%;
}
#divMain{
    top: 10%;
    position: absolute;
    background-color: #E4DCCF;
    width: 100%;
    height: 90%;
    display: flex;
}

#divHeader{
    height: 10%;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background-color: #98BAE7;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
}
#divHeader .logo h1 {
    font-size: 38px;
    margin: 0;
    font-weight: 600;
    letter-spacing: 1px;
    color: #384046;
  }
  #divHeader .logo h1 a, #header .logo h1 a:hover {
    color: #384046;
    text-decoration: none;
  }
  #divHeader .logo img {
    max-height: 40px;
  }
  


#divLeft{
    margin: 1%;
    width: 79%;
    height: 90%;
    background-color: white;
    overflow-y: auto;
}

#divRight{
    margin: 0;
    width: 18%;
    height: 90%;
    background-color: white;
}

#selectFiltro{
    width: 80%;
}

.divPublicacion{
    display: flex;
    flex-direction: row;
    background-color: #eee;
    border: 10px solid ;
    border-color: #930077;
    border-radius: 30px;
}

.pTitulo{
    width: 100%;
    color: rgb(22, 19, 19);
    font-size: 4vh;
    display: flex;
    font-weight: 800;

}

.pDescripcion{
    width: 100%;
    color: rgb(22, 19, 19);
    font-weight: 600;
}

.imgPublicacion{
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 30px;
}

.pfecha{
    font-weight: 800;
}